.ImageShapes {
  display: flex;
  flex-flow: row wrap;
}

.ImageShapes__shapeWrap {
  display: flex;
  width: 34%;
}

.ImageShapes__shape {
  width: 200px;
}

.ImageShapes__shape canvas {
  max-width: 100%;
}

.Editor__canvasLayers {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-family: liana;
  /* font-family: ivymode; */
  /* font-family: mr-eaves-modern; */
  font-weight: normal;
}

.canvas-container {display: flex;}
.canvas-container canvas {max-width: 100%;}




.StageWrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.getStageDimensions {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  max-width: 100%;
}

/* .konvajs-content {
  width: 100% !important;
  height: auto !important;
} */

/* .konvajs-content .mainCanvasLayer {
  position: relative !important;
} */

/* .konvajs-content canvas {
  width: 100% !important;
  height: 100% !important;
} */